{% extends 'emails/email_base.html' %}
{% load i18n customfilters %}

{% block content_wrapper %} 

{% trans 'Beste Remote Care gebruiker,' %}


{% if new_account %}
<p>
{% trans 'Er is voor u een account aangemaakt in Remote Care.' %}<br/>
</p>
{% endif %}
{% if change_request_by_manager %}
<p>
{% trans 'Uw wachtwoord voor Remote Care is vervallen.' %}<br/>
</p>
{% endif %}

<p>{% trans 'Hieronder vindt u de link waarmee u uw wachtwoord voor Remote Care kunt instellen.' %}<br />
   <a href='{{ url_prefix }}{% url "request_sms_code" %}?key={{ email_key }}'>{{ url_prefix }}{% url "request_sms_code" %}?key={{ email_key }}</a><br />
   {% trans 'Deze link is geldig tot en met:' %} {{ passwordchangerequest.expiry_date|default:"-"  }} 
</p>

<p>{% blocktrans %}Stappen:{% endblocktrans %}<br />
{% blocktrans %}1. Klik op de link.{% endblocktrans %}<br />
{% blocktrans %}2. Voer op de website uw gegevens in.{% endblocktrans %}<br />
{% blocktrans %}3. Voer de sms-code in.{% endblocktrans %}<br />
</p>

<p>{% blocktrans %}Met vriendelijke groet,{% endblocktrans %}<br/><br/>
{% trans 'Remote Care' %}</p>

{% endblock %}
