{% extends 'base.html' %}
{% load i18n %}


{% block content_wrapper %}
<div class="frameSection login boxLogin">

    	<div class="loginTitle">{% trans 'Remote Care' %}</div>
    	
        <!--layoutMainColumn-->
    	<div class="layout abbb">
        <!--layoutMainColumn-->

        	<!--left-->
        	<div>
        	<!--left-->

                <ul class="listNavigation">
                    <li >


                        <div class="box">

                            <h4 class="title"><span class="icoPassword"></span> {% trans 'Wachtwoord' %}</h4>

                        </div>

                    </li>
                    <li >

                        <div class="box">
                            <h4 class="title"><span class="icoSMS"></span> {% trans 'Code via sms' %}</h4>
                        </div>

                    </li>
                </ul>

        	<!--left-->
            </div>
        	<!--left-->

        	<!--right-->
        	<section>
        	<!--right-->

				<div class="box shade7">

                	<div class="optionbar"><a class="underline" href="{% url "about_security" %}"><em>{% trans 'Over beveiliging' %}</em></a></div>

                    <h2 class="title"><span class="icoLock"></span> {% trans 'Login geblokkeerd' %}</h2>
                    <div class='loginform'>

                    <div class='message'>
                    <p>
                    {% trans 'Er zijn' %} {{ block_nr }} {% trans 'onsucessvolle inlogpogingen gedetecteerd.'%}
                    </p>
                    <p>
                    {% trans 'Inloggen is geblokkeerd voor' %} {{ block_time }} {% trans 'minuten.' %}
                    </p>
                    </div>
                    <div class='submitbuttons'>
                        <a class='button white' href="{% url "login" %}"><i class="icoLockOpen"></i> {% trans 'Klik hier om in te loggen.' %}</a>
                    </div>
                    </div>
                </div>

        	<!--right-->
            </section>
        	<!--right-->

        <!--layoutMainColumn-->
        </div>
        <!--layoutMainColumn-->

    </div>

{% endblock %}
