{% extends 'base_context.html' %}
{% load i18n customfilters %}
{% load staticfiles %}

{% block content_wrapper %}
    	<div class="frameSection">
    	
        <!--layoutMainColumn-->
    	<div class="layout aab layoutMainColumn">
        <!--layoutMainColumn-->

        	<!--left-->
        	<section>
        	<!--left-->
                <div class="layout aa">
                    <div style="width:100%;">
                        <div class="box shade5" style="height: 487px;" >

                        	<div class="boxInfo">

                            	<div class="header"><h2>{% trans 'Vragenlijst' %}</h2></div>

                                <div class="content">

                                    <p><span class="tooltip spot left">{{ patient.days_since_last_questionnaire|default:"-" }}</span>{% trans 'Dagen sinds laatste vragenlijst' %}</p>

                                   	<p><span class="tooltip spot left">{{ patient.next_questionnaire_date|date:SHORT_DATE_FORMAT|default:"-" }}</span> {% trans 'Volgende vragenlijst' %}</p>

                                </div>

                            	<footer><a class="button grand {% if not patient.next_questionnaire_ready %}grand_gray{% endif %}" href="{% if patient.next_questionnaire_ready %}{% url "questionnaire_start_controle" patient.healthperson_ptr_id|get_random_session_key:request %}{% else %}#{% endif %}"><i class="icoControle"></i> {% trans 'Start Vragenlijst' %}</a></footer>

                            </div>

                        </div>

                    </div>

                </div>


        	<!--left-->
            </section>
        	<!--left-->

        	<!--right-->
        	<aside>
        	<!--right-->

                <ul>
                    <li>

                        <a href="{% url "disease_activity_overview" patient.healthperson_ptr_id|get_random_session_key:request %}">
                        <div class="box shade6">

                            <h4 class="title">{% trans 'Ziekteactiviteit' %} <i class="rc_ico18"></i></h4>

                        </div>
                        </a>

                    </li>
                    <li>

                        <a href="{% url "quality_of_life_overview" patient.healthperson_ptr_id|get_random_session_key:request %}">
                        <div class="box shade4">

                            <h4 class="title">{% trans 'Lastmeter' %} <i class="rc_ico8 qol_ico_center"></i></h4>

                        </div>
                        </a>

                    </li>
                    <li>

                        <a href="{% url "healthcare_quality_overview" patient.healthperson_ptr_id|get_random_session_key:request %}">
                        <div class="box shade2">

                            <h4 class="title">{% trans 'Kwaliteit van zorg' %} <i class="rc_ico9"></i></h4>

                        </div>
                        </a>

                    </li>
                </ul>

                <a href="{% url "patient_view_profile" patient.healthperson_ptr_id|get_random_session_key:request %}">
                <div class="box shade6">

                	<h4 class="title">{{ user.full_name|default:"-" }}<i class="icoProfiel"></i><span class="icoSettingsWhite"></span></h4>
			                	
                    <div class="content">

                    	<address>

                            <ul class="listColumn">
                                <li><i class="icoPhone"></i>{{ user.mobile_number|default:"-" }}</li>
                                <li><i class="icoEmail"></i>{{ user.email|default:"-" }}</li>
                            </ul>

                        </address>

                    </div>

                </div>
                </a>
                <div class="box shade6" style="background-image: {% if practitioner.photo_location %}url({{ MEDIA_URL }}{{ practitioner.photo_location }}){% else %}{% if practitioner.user.gender == 'male' %}url({% static "images/male.png" %}){% else %}url({% static "images/female.png" %}){% endif %}{% endif %}; background-size:133px 165px;">

                	<h4 class="title">{% trans 'Mijn behandelaar' %}</h4>
                	
                    <div class="content dokterProfiel">

                    	<h5> {{ practitioner.user.professional_name }}</h5>
                        <p>{{ practitioner.get_function_display }}, {{ practitioner.get_specialism_display }} </p>

                    	<i class="icoPhone"></i> {{ practitioner.telephone }}

                    </div>

                </div>

        	<!--right-->
            </aside>
        	<!--right-->

        <!--layoutMainColumn-->
        </div>
        <!--layoutMainColumn-->

    </div>
{% endblock %}
