{% extends 'base_context.html' %}
{% load i18n customfilters %}



{% block content_wrapper %}

	<div class="frameSection">
    	
        <!--layoutMainColumn-->
    	<div class="layout abb layoutMainColumn">
        <!--layoutMainColumn-->
        
        	<!--left-->
        	<nav>
        	<!--left-->

                <ul class="listNavigation">
                    <li>
                    
                        <a onclick="document.forms['patient_search_form'].submit();return false;" href="#">
                        <div class="box">
                        
                            <h4 class="title"></span>{% trans 'Zoek patiënt'  %} </h4>
                           
                        </div>
                        </a>
                        
                    </li>
                    <li>
                    
                        <a href='{% url "index" %}'>
                        <div class="box">
                        
                            <h4 class="title"></span> Annuleren</h4>
                        
                        </div>
                        </a>
                        
                    </li>

                </ul>
                <a  class="button white alignBottomLeftAbsolute" href='{% url "index" %}'>
                    <i class="icoBack"></i>  {% blocktrans %}Terug{% endblocktrans %}
                </a>                
                
        	<!--left-->
            </nav>
        	<!--left-->
            
        	<!--right-->
        	<section>
        	<!--right-->
            
				<div class="box shade1">
                
                	<header class="line">
                    
                        <h2 class="title"><span class="rc_ico32"></span> 
                            {% trans 'Zoek patiënt' %} {% if request.GET.action == 'edit' %}{% trans 'en wijzig' %}{% endif %}{% if request.GET.action == 'remove' %}{% trans 'en verwijder' %}{% endif %}{% if request.GET.action == 'message' %}{% trans 'en stuur bericht' %}{% endif %}   </h2>
                
                	</header>
                    
                    <div class="content">
                         <b></b>
                        <form id="patient_search_form" class='defaultform' action='.' method='post'>              
                            {% include 'form.html' %}
                            <div class='submitbuttons'>
                                <input type='submit' class='button' value="{% trans 'Zoek patiënt' %}">
                            </div>
                        </form>


                        <div class='results'>
                            {% if has_searched %}
                                {% if patients %}
                                    <table class="table zebra lesser">
                                      <tr class="action">
                                        <th scope="col">{% trans 'Naam' %}</th>
                                        <th scope="col">{% trans 'ZKH Nr.' %}</th>
                                        <th scope="col">{% trans 'Geb. datum' %}</th>
                                        <th scope="col">{% trans 'BSN' %}</th>
                                        <th scope="col"></th>
                                      </tr>

                                    {% for patient in patients %}
                                    
                                      <tr>
                                        <td>{{ patient.user.last_name }}, {{ patient.user.initials }}</td>
                                        <td>{{ patient.user.local_hospital_number|default:"-" }}</td>
                                        <td>{{ patient.user.date_of_birth|date:SHORT_DATE_FORMAT }}</td>
                                        <td>{{ patient.user.BSN|default:"-" }}</td>

                                        <td class='buttonsrow'>
                                        {% if user|checkgroup:"healthprofessionals" or user|checkgroup:"secretariat" %}
                                        <a title="{% trans 'Verstuur bericht' %}" href='{% url "message_add" patient.health_person_id|get_random_session_key:request %}' class='button gray ico'><i class='rc_ico59'></i></a>
                                        {% endif %}

                                        <a title="{% trans 'Inzien/wijzigen' %}" href='{% url "patient_view_personalia" patient.health_person_id|get_random_session_key:request %}'  class='button gray ico'><i class='rc_ico74'></i></a> 
                                        <a title="{% trans 'Verwijder' %}" href='{% url "patient_remove" patient.health_person_id|get_random_session_key:request %}' class='button gray ico'><i class='rc_ico50'></i></a>
                                        </td> 
                                      </tr>
                          
                       
                                    {% endfor %}
                                 </table>
                                {% else %}    
                                {% trans 'Geen resultaten gevonden' %}
                                {% endif %}
                            {% else %}                    
                            &nbsp;        
                            {% endif %}
                        </div>
                    	
                    
                    </div>
    
                    
                 
                
                </div>

        	<!--right-->
            </section>
        	<!--right-->

        <!--layoutMainColumn-->
        </div>
        <!--layoutMainColumn-->
    
    </div>
{% endblock %}
