{% extends 'base_context.html' %}
{% load i18n customfilters %}



{% block content_wrapper %}   
    
	<div class="frameSection">
    	
        <!--layoutMainColumn-->
    	<div class="layout aab layoutMainColumn">
        <!--layoutMainColumn-->
        
        	<!--left-->
        	<section>
        	<!--left-->

                <div class="box shade0 urgent_box">
                
                	<div class="optionbar">{% trans 'Patiënten' %} <span class="tooltip right">{{ urgent_patient_controles|length }}</span></div>
					
                    <h1 class="title"><span class="icoUrgentie"></span> {% trans 'Afhandelen urgente patiënten' %}</h1>
                    
                    <div class="scrollbar_container questionnaire_answers canvas1">
				        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				        <div class="viewport hpindex">	
				        	<div class="content overview">
						        <table class="table zebra lesser hp_patient_table">
                                  <tr class="action">
                                    <th scope="col">{% trans 'Achternaam' %}</th>
                                    <th scope="col">{% trans 'Voorletters' %}</th>
                                    <th scope="col">{% trans 'Geb. datum' %}</th>
                                    <th scope="col">{% trans 'Afspraak geregeld' %}</th>
                                    <th scope="col"></th>
                                  </tr>

                                    {% for urgent_patient_controle in urgent_patient_controles %}
                                  <tr>
                                    <td>{{ urgent_patient_controle.patient.user.last_name|default:"-" }}</td>
                                    <td>{{ urgent_patient_controle.patient.user.initials|default:"-" }}</td>
                                    <td>{{ urgent_patient_controle.patient.user.date_of_birth|date:SHORT_DATE_FORMAT }}</td>
                                    <td>{{ urgent_patient_controle.appointment_arranged|default:"-" }}</td>
                                    <td class='buttonsrow'><a title="{% trans 'Afhandelen' %}" name='urgent_link' href='{% url "questionnaire_view" urgent_patient_controle.patient.health_person_id|get_random_session_key:request urgent_patient_controle.id %}' class='button gray ico'><i class='rc_ico67'></i></a></td> 
                                  </tr>                    
                                    {% endfor %}                              
                                </table>
                    		</div>
		                </div>
		            </div>
                </div>
                
                <div class="box shade0 controle_box">
                
                	<div class="optionbar">Patiënten <span class="tooltip right">{{ controles|length }}</span></div>
					
                    <h1 class="title"><span class="icoControleDark"></span> {% trans 'Afhandelen controles' %}</h1>
	                <div class="scrollbar_container questionnaire_answers canvas1">
				        <div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				        <div class="viewport hpindex">	
				        	<div class="content overview">
                                <table class="table zebra lesser hp_patient_table">
                                  <tr class="action">
                                    <th scope="col" class='smaller'>{% trans 'Achternaam' %}</th>
                                    <th scope="col" class='smaller'>{% trans 'Voorletters' %}</th>
                                    <th scope="col" class='smaller'>{% trans 'Geb. datum' %}</th>
                                    <th scope="col" class='smaller'>{% trans 'Afspraak geregeld' %}</th>
                                    <th scope="col" class='smaller'>{% trans 'Bloed geprikt' %}</th>
                                    <th scope="col"></th>
                                  </tr>

                                  {% for controle in controles %}
                                  <tr>
                                    <td>{{ controle.patient.user.last_name|default:"-" }}</td>
                                    <td>{{ controle.patient.user.initials|default:"-" }}</td>
                                    <td>{{ controle.patient.user.date_of_birth|date:SHORT_DATE_FORMAT }}</td>
                                    <td>{{ controle.appointment_arranged }}</td>
                                    <td>{{ controle.blood_taken }}</td>
                                    <td class='buttonsrow'><a title="{% trans 'Afhandelen' %}" name='controle_link' href='{% url "questionnaire_view" controle.patient.health_person_id|get_random_session_key:request controle.id %}' class='button gray ico'><i class='rc_ico67'></i></a></td> 
                                  </tr>
                                    
                                  {% endfor %}                          
      

                          </table>

                    		</div>
		                </div>
		            </div>
                </div>
                
        	<!--left-->
            </section>
        	<!--left-->
            
        	<!--right-->
        	<aside>
        	<!--right-->
            
                <ul>
                   <li>
                    
                        <a href="{% url "patient_search" %}">
                        <div class="box shade6">
                        
                            <h4 class="title">{% trans 'Patiënt zoeken' %} <i class="rc_ico14"></i></h4>
                        
                        </div>
                        </a>
                        
                    </li>
                   <li>
                    
                        <a href="{% url "patient_add" %}">
                        <div class="box shade4">
                        
                            <h4 class="title">{% trans 'Patiënt toevoegen' %} <i class="rc_ico12"></i></h4>
                        
                        </div>
                        </a>
                        
                    </li>
                    <li>
                    
                        <a href="{% url "patient_search" %}?action=edit">
                        <div class="box shade2">
                        
                            <h4 class="title">{% trans 'Patiënt wijzigen' %} <i class="rc_ico15"></i></h4>
                        
                        </div>
                        </a>
                        
                    </li>
                    <li>
                    
                        <a href="{% url "patient_search" %}?action=remove">
                        <div class="box shade7">
                        
                            <h4 class="title">{% trans 'Patiënt verwijderen' %} <i class="rc_ico13"></i></h4>
                        
                        </div>
                        </a>
                        
                    </li>
                    <li>
                    
                        <a href="{% url "patient_search" %}?action=message">
                        <div class="box shade6">
                        
                            <h4 class="title">Bericht versturen <i class="icoBerichten2"></i></h4>
                        
                        </div>
                        </a>
                        
                    </li>                    
                    <li>
                    
                        <a href="{% if message %}{% url "sent_message_details" healthprofessional.health_person_id|get_random_session_key:request message.id %}{% else %}{% url "sent_message_overview" healthprofessional.health_person_id|get_random_session_key:request %}{% endif %}">
                        <div class="box shade4">
                        
                            <h4 class="title">Verstuurde berichten <i class="icoBerichten2"></i></h4>
                        
                        </div>
                        </a>
                        
                    </li>                   
                    <li>
                    
                        <a href="{% url "information_page" 'e-consult' %}">
                        <div class="box shade2">
                        
                            <h4 class="title">Videoconsulten <i class="icoConsulten"></i></h4>
                        
                        </div>
                        </a>
                        
                    </li>
                    <li>
                    
                        <a href="{% url "healthprofessional_view_personalia" healthprofessional.health_person_id|get_random_session_key:request %}">
                        <div class="box shade7">
                        
                            <h4 class="title">Mijn gegevens <i class="icoProfiel"></i></h4>
                        
                        </div>
                        </a>
                        
                    </li>
                </ul>
                              
            
        	<!--right-->
            </aside>
        	<!--right-->

        <!--layoutMainColumn-->
        </div>
        <!--layoutMainColumn-->
    
    </div>
{% endblock %}
