{% load i18n %}



<table>
    <tr><td>{% trans 'Hoe veel last heeft u van problemen, klachten of zorgen? Dit gaat zowel om de lichamelijke klachten die u ondervindt van uw ziekte als emotionele, sociale of praktische problemen.' %}</td><td>{{ questionnaire.get_complaints_display|default:"-" }}</td></tr>

    {% if questionnaire.hasproblems == 'yes' %}
    <tr><td>{% trans 'Praktische problemen' %}</td><td>{% for item in questionnaire.practical_problems.all %} {{ item }}{% if not forloop.last %},{% endif %}{% endfor %}</td></tr>
    <tr><td>{% trans 'Gezins-/sociale problemen' %}</td><td>{% for item in questionnaire.social_problems.all %} {{ item }}{% if not forloop.last %},{% endif %}{% endfor %}</td></tr>
    <tr><td>{% trans 'Emotionele problemen' %}</td><td>{% for item in questionnaire.emotional_problems.all %} {{ item }}{% if not forloop.last %},{% endif %}{% endfor %}</td></tr>
    <tr><td>{% trans 'Religieuze/spirituele problemen' %}</td><td>{% for item in questionnaire.spiritual_problems.all %} {{ item }}{% if not forloop.last %},{% endif %}{% endfor %}</td></tr>
    <tr><td>{% trans 'Lichamelijke problemen' %}</td><td>{% for item in questionnaire.fysical_problems.all %} {{ item }}{% if not forloop.last %},{% endif %}{% endfor %}</td></tr>
    <tr><td>{% trans 'Andere problemen' %}</td><td>{{ questionnaire.other_problems|default:"-" }}</td></tr>
    <tr><td>{% trans 'Zou u over deze problemen met een deskundige willen praten? (bijvoorbeeld een psycholoog of een maatschappelijk werker' %}</td><td>{{ questionnaire.get_need_contact_display|default:"-" }}</td></tr>
    {% endif %}

</table>


