{% load i18n customfilters %}


{% if form.errors %}
<div class='form-error'>   
    {% blocktrans count form.errors.items|length as counter %}Corrigeer de fout hieronder alstublieft.{% plural %}Corrigeer de fouten hieronder alstublieft.{% endblocktrans %}
</div>
{% endif %}
{% if form.non_field_errors %}
<div class='error'>
    {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}

<p class='help_text'>
{% trans 'Beste ' %} {{ patient.user.first_name }} {{ patient.user.prefix|default:"" }} {{ patient.user.last_name }},
<br/><br/>
{% trans 'Vervelend dat het niet goed gaat op het moment. Hieronder kun u direct een afspraak inplannen.' %}
<br/><br/>
</p>

{% if form.fieldsets %}
    {% for name, fields in form.fieldsets %}       
        {% include 'questionnaire/DefaultQuestionnarreFieldset.html' %}
    {% endfor %}
{% else %}

    {{form.fields }}
    {% with form.fields as fields %}
    {% with '' as name %}
        
        {% include 'fieldset.html' %}
    {% endwith %}
    {% endwith %}
{% endif %}

{% if DEBUG %}
    <input type='hidden' id='id_form_class' value='{{  form | moduleclassname }}'>
    <input type='hidden' id='id_form_prefix' value='{{  form.prefix}}'>
{% endif %}
<div style='display: none;'>{{ form.media }}</div>
{% csrf_token %}

<p class='help_text'>
{% trans 'U wordt z.s.m. gebeld door het secretariaat voor een afspraak. Op de volgende pagina kunt u aangeven wat de belangrijkste problemen zijn op dit moment.' %}
</p>

