{% extends 'base_context.html' %}
{% load i18n customfilters %}

{% block content_wrapper %}

	<div class="frameSection">
    	
        <!--layoutMainColumn-->
    	<div class="layout abb layoutMainColumn">
        <!--layoutMainColumn-->
        
        	<!--left-->
        	<nav>
        	<!--left-->

                <ul class="listNavigation">
                    <li>                    
                        <a href='{% url "index" %}'>
                        <div class="box">                        
                            <h4 class="title">{% trans 'Terug' %}</h4>                        
                        </div>
                        </a>                        
                    </li>                  
                </ul>
                            
                
        	<!--left-->
            </nav>
        	<!--left-->
            
        	<!--right-->
        	<section>
        	<!--right-->
            
				<div class="box shade1">
                    
                	<header class="line">
                        <h2 class="title"><span class="rc_ico84"></span> {% trans 'Zoekresultaten' %}</h2>      
                	</header>
                    
                    <div class="content">
                        {% if healthpersons %}
                            <table class="table zebra lesser">
                              <tr class="action">
                                <th scope="col">{% trans 'Achternaam' %}</th>
                                <th scope="col">{% trans 'Specialisme' %}</th>
                                <th scope="col">{% trans 'Inzien/Wijzigen' %}</th>
                                <th scope="col">{% trans 'Verwijderen' %}</th>
                              </tr>

                            
                            {% for healthperson in healthpersons %}
                              <tr>
                                <td>{{ healthperson.user.last_name }}</td>
                                <td>
                                    {% if healthperson|classname == 'Patient' %} 
                                    {% trans '(patiënt)' %}
                                    {% else %}
                                    {{ healthperson.get_specialism_display|default:"-" }}
                                    {% endif %}
                                </td>
                                <td>
                                    
                                    {% if healthperson|classname == 'HealthProfessional' %} 
                                    <a href='{% url "healthprofessional_view_personalia" healthperson.health_person_id|get_random_session_key:request %}' class='button'>{% trans 'Inzien/Wijzigen' %}</a>
                                    {% endif %}
                                    {% if healthperson|classname == 'Secretary' %} 
                                    <a href='{% url "secretariat_view_personalia" healthperson.health_person_id|get_random_session_key:request %}' class='button'>{% trans 'Inzien/Wijzigen' %}</a>

                                    {% endif %}
                                    {% if healthperson|classname == 'Patient' %} 
                                    <a href='{% url "patient_view_personalia" healthperson.health_person_id|get_random_session_key:request %}' class='button'>{% trans 'Inzien/Wijzigen' %}</a>

                                    {% endif %}
                                </td> 
                                <td>
                                    {% if healthperson|classname == 'HealthProfessional' %} 
                                    <a href='{% url "healthprofessional_remove" healthperson.health_person_id|get_random_session_key:request %}' class='button'>{% trans 'Verwijderen' %}</a>
                                    {% endif %}
                                    {% if healthperson|classname == 'Secretary' %} 
                                    <a href='{% url "secretariat_remove" healthperson.health_person_id|get_random_session_key:request %}' class='button'>{% trans 'Verwijderen' %}</a>
                                    {% endif %}
                                    {% if healthperson|classname == 'Patient' %} 
                                    <a href='{% url "patient_remove" healthperson.health_person_id|get_random_session_key:request %}' class='button'>{% trans 'Verwijderen' %}</a>
                                    {% endif %}
                                </td> 
                              </tr>
                  
               
                            {% endfor %}
                         </table>
                        {% else %}
                            {% if no_search_term %}
                            <p>{% trans 'Vul a.u.b. een zoekterm in.'  %}</p>
                            {% else %}
                            <p>{% trans 'Geen behandelaars of secretariaat medewerkers gevonden'  %}</p>
                            {% endif %}
                        {% endif %}
                    </div>
                        
                    <footer class="buttonBar">
                    	<div class="floatRight">
                        </div>                    	
                    </footer>
                
                </div>

        	<!--right-->
            </section>
        	<!--right-->

        <!--layoutMainColumn-->
        </div>
        <!--layoutMainColumn-->
    
    </div>
{% endblock %}
