{% load i18n %}
<table class="tabledisplay">
    <tbody><tr><th>{% trans 'Vraag' %}</th><th>{% trans 'Antwoord' %}</th></tr>

    <tr><td colspan="2"><h5><i>{% trans 'Hoe gaat het' %}</i></h5></td></tr>
    <tr><td>{% trans 'Hoe gaat het met u?' %}</td><td>{{ questionnaire.get_current_status_display|default:"-" }}</td></tr>
    <tr><td colspan="2"><h5><i>{% trans 'Problemen' %}</i></h5></td></tr>
    <tr><td>{% trans 'Kunt u hieronder beschrijven hoe het met u gaat en waar u op dit moment het meeste last van heeft?' %}</td>
    <td>{{ questionnaire.problems|default:"-" }}</td></tr>

    <tr><td colspan="2"><h5><i>{% trans 'Problemen score' %}</i></h5></td></tr>
    <tr><td>{% trans 'Hoe veel last heeft u van problemen, klachten of zorgen? Dit gaat zowel om de lichamelijke klachten die u ondervindt van uw ziekte als emotionele, sociale of praktische problemen. (1=geen klachten,10=heel veel klachten of problemen)' %}</td><td>{{ questionnaire.get_problem_severity_display|default:"-" }}</td></tr>


    <tr><td colspan="2"><h5><i>{% trans 'Ziekenhuis bezoek' %}</i></h5></td></tr>
    <tr><td>{% trans 'Bent u sinds de vorige controle nog in het ziekenhuis geweest?' %}</td><td>{{ questionnaire.get_hospital_visit_display|default:"-" }}</td></tr>
</tbody></table>



