{% extends 'base_context.html' %}
{% load i18n customfilters %}

{% block content_wrapper %}

	<div class="frameSection">
    	
        <!--layoutMainColumn-->
    	<div class="layout abb layoutMainColumn">
        <!--layoutMainColumn-->
        
        	<!--left-->
        	<nav>
        	<!--left-->

                <ul class="listNavigation">
                    <li>                    
                        <a href="{{ cancel_url }}?back=True">
                        <div class="box">                        
                            <h4 class="title"> {% trans 'Annuleren'  %}</h4>                           
                        </div>
                        </a>                        
                    </li>
                </ul>
        	<!--left-->
            </nav>
        	<!--left-->
            
        	<!--right-->
        	<section>
        	<!--right-->
            
				<div class="box shade1">
                    
                	<header class="line">
                        <h2 class="title"><span class="rc_ico90"></span>  {% trans 'Verwijder secretariaat medewerker' %}</h2>              
                	</header>
                    
                    <div class="content">
                         <form id="remove_form" class='defaultform' action='.' method='post'> 
                            <p>{% blocktrans %}Weet u zeker dat uw deze medewerker wilt verwijderen? {% endblocktrans %}</p>
                            <p>{% blocktrans %}Na verwijdering kan de medewerker niet meer inloggen maar zijn gegevens blijven wel in Remote Care staan.{% endblocktrans %}
                            </p>
                            {% csrf_token %}
                            <div class='submitbuttons'>
                                <a class='button' href="{{ cancel_url }}?back=True">{% trans 'Annuleren'  %}</h4></a> 
                                <input type='submit' class='button' value="{% trans 'Verwijder medewerker' %}">
                            </div>
                        </form>                    
                    </div>
                        
                    <footer class="buttonBar">
                    	<div class="floatRight">
                        </div>                    	
                    </footer>
                
                </div>

        	<!--right-->
            </section>
        	<!--right-->

        <!--layoutMainColumn-->
        </div>
        <!--layoutMainColumn-->
    
    </div>
{% endblock %}
