{% extends 'base_context.html' %}
{% load i18n customfilters %}

{% block content_wrapper %}

	<div class="frameSection">
    	
        <!--layoutMainColumn-->
    	<div class="layout abb layoutMainColumn">
        <!--layoutMainColumn-->
        
        	<!--left-->
        	<nav>
        	<!--left-->

                <ul class="listNavigation">
                    <li>                    
                        {% if request.user|checkgroup:"secretariat" %}
                        <a href='{% url "index" %}'>
                        {% else %}
                        <a href='{% url "secretariat_search" %}?back=True'>
                        {% endif %} 
                        <div class="box">                        
                            <h4 class="title">{% trans 'Terug' %}</h4>                        
                        </div>
                        </a>                        
                    </li>
                    <li {% if submenu == 'personalia' %}class='active'{% endif %}>                    
                        <a href="{% url "secretariat_view_personalia" secretary.health_person_id|get_random_session_key:request %}">
                        <div class="box">                        
                            <h4 class="title">{% trans 'Personalia & Account'  %}</h4>                           
                        </div>
                        </a>                        
                    </li>

                </ul>
                            
                
        	<!--left-->
            </nav>
        	<!--left-->
            
        	<!--right-->
        	<section>
        	<!--right-->
            
				<div class="box shade1">
                    
                	<header class="line">
                        {% block section_title %} {% endblock %}                
                	</header>
                    
                    <div class="content">
                        {% block section_content %} {% endblock %}                       
                    </div>
                        
                    <footer class="buttonBar">
                    	<div class="floatRight">
                        </div>                    	
                    </footer>
                
                </div>

        	<!--right-->
            </section>
        	<!--right-->

        <!--layoutMainColumn-->
        </div>
        <!--layoutMainColumn-->
    
    </div>
{% endblock %}
