/*
@@@@@@@@@@@@@@@@@@@@@@
LABEL
@@@@@@@@@@@@@@@@@@@@@@

	about				emphasize text with labels
	objects				.label

*/


	/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	label
	///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
		
		/*+ setup
		..........................................................................*/
			
			.label{padding:5px 5px 2px 5px; color:white;  font-size:90%; text-align:center;  display:inline-block; position:relative;}

		/*+ style
		..........................................................................*/
			
			/*background*/
			.label{background-color:#919191; }
		
