/*
@@@@@@@@@@@@@@@@@@@@@@
NAV
@@@@@@@@@@@@@@@@@@@@@@

    about                navigation elements

*/
    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////
    nav
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

        /*+ setup
        ..........................................................................*/

            .nav .container{position:relative; }
            .nav .menu li a{display:block; position:relative; outline:none;}
            .nav:after{visibility:hidden; display:block; font-size:0; content: " "; clear:both; height:0;}

    /*///////////////////////////////////////////////////////////////////////////////////////////////////////////
    header
    ///////////////////////////////////////////////////////////////////////////////////////////////////////////*/

        /*+ setup
        ........................................... ...............................*/

            .nav.header{font-size:14px;}

            .nav.header li{float:left; margin:0px 5px; }

            .nav.header li .lvl1{padding:10px 5px 2px 5px; }

            .nav.header li.active .lvl1{background-color:#2188e8; }
            .nav.header li .lvl1:hover {background-color:#2188e8; }

