/*
@@@@@@@@@@@@@@@@@@@@@@
RESPONSIVE
@@@@@@@@@@@@@@@@@@@@@@

	about				responsive media queries

*/

	/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
	QUERIES
	///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
		
		@media all and (max-width: 1080px)
		{
			
			/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
			nav
			///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
				
				/*+ setup
				........................................... ...............................*/
				
					.nav.header{margin-top:-20px;}
					.nav.header li .lvl1{padding-top:30px;}
	
			/*///////////////////////////////////////////////////////////////////////////////////////////////////////////
			frame
			///////////////////////////////////////////////////////////////////////////////////////////////////////////*/
				
				/*+ setup
				..........................................................................*/
					
					.frame > .frameContainer{ vertical-align:top;}
					.frameApp{width:100%; padding:0px 10px;}

		}
		
		

