.icoAddUser,
.icoAgenda,
.icoArrowLeftSmall,
.icoArrowRight,
.icoArrowRightSmall,
.icoBack,
.icoBericht,
.icoBerichten,
.icoBerichten2,
.icoCancel,
.icoCheck,
.icoConsulten,
.icoControle,
.icoControleDark,
.icoEmail,
.icoInfo,
.icoKwaliteitBlue,
.icoKwaliteitLeven,
.icoKwaliteitLevenBlue,
.icoKwaliteitZorg,
.icoLock,
.icoLockOpen,
.icoPassword,
.icoPhone,
.icoPrint,
.icoProfiel,
.icoSMS,
.icoSave,
.icoSearch,
.icoSetControle,
.icoSetKwaliteit,
.icoSetKwaliteitZorg,
.icoSetZiekteActiviteit,
.icoSpoed,
.icoUrgentie,
.icoVideo,
.icoWarning,
.icoZiekteActiviteit {
  background-image: url(../../images/sprite.png);
}

.icoZiekteKwaliteitBlue {
  background-image: url(../../images/icoZiekteKwaliteitBlue.png);
  display: inline-block;
  width: 30px;
  height: 26px;
}

.icoSettingsWhite {
  background-image: url(../../images/sprite2_icons/icon-55_2.png);
  display: inline-block;
  width: 21px;
  height: 20px;
}


.icoControleAfspraakBlue {
  background-image: url(../../images/icoAfspraak.png);
  display: inline-block;
  width: 23px;
  height: 26px;
}

.icoAddUser {
  background-position: -36px -91px;
  display: inline-block;
  width: 36px;
  height: 33px;
}

.icoAgenda {
  background-position: -53px -43px;
  display: inline-block;
  width: 34px;
  height: 41px;
}

.icoArrowLeftSmall {
  background-position: -189px -43px;
  display: inline-block;
  width: 7px;
  height: 8px;
}

.icoArrowRight {
  background-position: -189px -34px;
  display: inline-block;
  width: 7px;
  height: 9px;
}

.icoArrowRightSmall {
  background-position: -189px -51px;
  display: inline-block;
  width: 7px;
  height: 8px;
}

.icoBack {
  background-position: -23px -74px;
  display: inline-block;
  width: 21px;
  height: 12px;
}

.icoBericht {
  background-position: -88px -126px;
  display: inline-block;
  width: 25px;
  height: 18px;
}

.icoBerichten {
  background-position: 0px -91px;
  display: inline-block;
  width: 36px;
  height: 35px;
}

.icoBerichten2 {
  background-position: -161px 0px;
  display: inline-block;
  width: 35px;
  height: 34px;
}

.icoCancel {
  background-position: -92px -157px;
  display: inline-block;
  width: 16px;
  height: 15px;
}

.icoCheck {
  background-position: -20px -157px;
  display: inline-block;
  width: 20px;
  height: 19px;
}

.icoConsulten {
  background-position: -123px -34px;
  display: inline-block;
  width: 37px;
  height: 31px;
}

.icoControle {
  background-position: -161px -34px;
  display: inline-block;
  width: 28px;
  height: 33px;
}

.icoControleDark {
  background-position: -161px -100px;
  display: inline-block;
  width: 28px;
  height: 33px;
}

.icoEmail {
  background-position: -113px -126px;
  display: inline-block;
  width: 20px;
  height: 14px;
}

.icoInfo {
  background-position: 0px -157px;
  display: inline-block;
  width: 20px;
  height: 19px;
}

.icoKwaliteitBlue {
  background-position: -135px -91px;
  display: inline-block;
  width: 26px;
  height: 26px;
}

.icoKwaliteitLeven {
  background-position: -53px 0px;
  display: inline-block;
  width: 39px;
  height: 43px;
}

.icoKwaliteitLevenBlue {
  background-position: -108px -91px;
  display: inline-block;
  width: 27px;
  height: 29px;
}

.icoKwaliteitZorg {
  background-position: -161px -67px;
  display: inline-block;
  width: 33px;
  height: 33px;
}

.icoLock {
  background-position: 0px -176px;
  display: inline-block;
  width: 14px;
  height: 19px;
}

.icoLockOpen {
  background-position: -14px -176px;
  display: inline-block;
  width: 14px;
  height: 19px;
}

.icoPassword {
  background-position: 0px 0px;
  display: inline-block;
  width: 53px;
  height: 45px;
}

.icoPhone {
  background-position: -40px -157px;
  display: inline-block;
  width: 14px;
  height: 19px;
}

.icoPrint {
  background-position: -63px -126px;
  display: inline-block;
  width: 25px;
  height: 24px;
}

.icoProfiel {
  background-position: -92px 0px;
  display: inline-block;
  width: 31px;
  height: 38px;
}

.icoSMS {
  background-position: 0px -45px;
  display: inline-block;
  width: 23px;
  height: 46px;
}

.icoSave {
  background-position: -73px -157px;
  display: inline-block;
  width: 19px;
  height: 18px;
}

.icoSearch {
  background-position: -54px -157px;
  display: inline-block;
  width: 19px;
  height: 18px;
}

.icoSetControle {
  background-position: -92px -38px;
  display: inline-block;
  width: 27px;
  height: 31px;
}

.icoSetKwaliteit {
  background-position: -23px -45px;
  display: inline-block;
  width: 27px;
  height: 29px;
}

.icoSetKwaliteitZorg {
  background-position: -123px -65px;
  display: inline-block;
  width: 27px;
  height: 23px;
}

.icoSetZiekteActiviteit {
  background-position: -36px -126px;
  display: inline-block;
  width: 27px;
  height: 24px;
}

.icoSpoed {
  background-position: 0px -126px;
  display: inline-block;
  width: 36px;
  height: 31px;
}

.icoUrgentie {
  background-position: -72px -91px;
  display: inline-block;
  width: 36px;
  height: 29px;
}

.icoVideo {
  background-position: -92px -69px;
  display: inline-block;
  width: 25px;
  height: 14px;
}

.icoWarning {
  background-position: -161px -133px;
  display: inline-block;
  width: 29px;
  height: 24px;
}

.icoZiekteActiviteit {
  background-position: -123px 0px;
  display: inline-block;
  width: 38px;
  height: 34px;
}
