{% load i18n %}
{% if form.errors %}
<div class='form-error'>
    {% blocktrans count form.errors.items|length as counter %}Corrigeer de fout hieronder alstublieft.{% plural %}Corrigeer de fouten hieronder alstublieft.{% endblocktrans %}
</div>
{% endif %}
{% if form.non_field_errors %}
<div class='error'>
    {% for error in form.non_field_errors %}
        <p>{{ error }}</p>
    {% endfor %}
</div>
{% endif %}
{% if form.fieldsets %}
    {% for name, fields in form.fieldsets %}
        {% include 'appointment/appointmentfieldset.html' %}
{% endfor %}
{% else %}
    {% with form.fields as fields %}
    {% with '' as name %}
        {% include 'appointment/appointmentfieldset.html' %}
    {% endwith %}
    {% endwith %}
{% endif %}
<div style='display: none;'>{{ form.media }}</div>
{% csrf_token %}
