{% extends 'base_context.html' %}
{% load i18n customfilters %}

{% block extra_head %}
    {{ block.super }}
{% endblock %}

{% block content_wrapper %}

    <div class="frameSection">

        <!--layoutMainColumn-->
        <div class="layout abb layoutMainColumn">
        <!--layoutMainColumn-->

            <!--left-->
            <nav>
            <!--left-->
                <ul class="listNavigation">
                    <li>
                        <a href="{% url "index" %}">
                        <div class="box">
                            <h4 class="title"></span> {% trans 'Terug' %} </h4>
                        </div>
                        </a>
                    </li>
                </ul>

            <!--left-->
            </nav>
            <!--left-->

            <!--right-->
            <section>
            <!--right-->

                <div class="box shade1">

                    <header class="line">
                        {% block title %} {% endblock %}

                    </header>

                    <div class="content">
                        {% block contents %} {% endblock %}
                    </div>

                </div>

            <!--right-->
            </section>
            <!--right-->

        <!--layoutMainColumn-->
        </div>
        <!--layoutMainColumn-->

    </div>
{% endblock %}
