<div id='helplist'>
<ul>
<li><a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>Berichten</b></a>
    <ul>
        <li><b>Berichten versturen</b><br>
            <span>Indien u een bericht wilt versturen kunt u dit doen door te
            klikken op het blok </span><span>Bericht versturen </span><span>aan
            de rechterkant van uw scherm. <br>
            <br>
            U
            krijgt vervolgens een scherm te zien waarmee u de gewenste patiënt op
            kunt zoeken. Voer de gegevens van de patient in en klik op </span><span>Zoek Patient</span><span>.
            De patienten die overeen komen met in ingevoerde gegevens worden onder
            in uw scherm getoond, klik op het envelopje naast de gewenste patient. <br>
            <br>
            U
            krijgt vervolgens een scherm te zien waar u het bericht naar de patient
            kunt versturen. Typ de tekst in het getoonde tekstveld en druk op
            verstuur.</span>
        </li>
        <li><b>Ontvangen berichten</b><br>
            Als arts kunt u geen berichten ontvangen, er is bewust voor gekozen om patienten niet de mogelijkheid te bieden om vrij berichten te sturen.
        </li>
        <li><b>Verstuurde berichten</b><br>
            <span>Indien u wilt zien welke berichten u in de afgelopen periode hebt
            verstuurd klikt u op </span><span>Verstuurde berichten </span><span>aan
            de rechterkant van uw scherm. <br>
            <br>
            U
            krijgt vervolgens een scherm te zien waar de door u verstuurde
            berichten kunt zien. Aan de linkerkant worden de verschillende
            berichten getoond, aan de rechterkant het door u geselecteerde bericht.
            U kunt een ander bericht selecteren door op het vak aan de linkerkant
            te klikken.</span>
        </li>
    </ul>
</li>
<li>
    <a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>Controle / Urgente patienten afhandelen</b></a>
    <ul>
        <li><b>Algemeen</b><br>
            De controles die nog niet zijn afgehandeld worden weergegeven in uw beginscherm.
        </li>
        <li><b>Controle afhandelen</b><br>
            <span>Om een controle af te handelen klikt u op het vinkje naast de
            gewenste controle. <br>
            <br>
            Vervolgens
            wordt het een scherm getoond met de eerste door de patient ingevulde
            vragenlijst. U kunt doorgaan naar de volgende vragenlijst door op het
            onderwerp aan de linkerkant van uw scherm te klikken. Herhaal dit tot u
            alle vragenlijsten heeft beoordeeld. Als u alle vragenlijsten heeft
            bekeken klikt u op </span><span>Medisch Verslag</span><span>.
            <br>
            <br>
            Vervolgens wordt u een scherm getoond waar u een medisch verslag kunt
            aanmaken, dit doet u door op </span><span>Aanmaken </span><span>rechtsboven
            in uw scherm te klikken. Eerst selecteert u of u de vragenlijst ook wil
            doorsturen naar de huisarts van de patient, daarnaast kunt u aangeven
            of u de patient wel of niet voor een afspraak op wilt roepen. Ten
            slotte vult u het medisch verslag in. Dit verslag is al voor een groot
            deel voor u aangemaakt door de applicatie, het is dus vooral een
            kwestie van controleren en eventueel aanvullen waar nodig. Op het
            moment dat het verslag compleet is klikt u op </span><span>Medisch
            verslag opslaan</span><span>. Als u dit heeft voltooid klikt u
            vervolgens </span><span>Bericht naar patient</span><span>. <br>
            <br>
            Vervolgens
            wordt u een scherm getoond waar u het bericht naar de patient aan kunt
            maken. Dit bericht is al voor een groot deel voor u aangemaakt door de
            applicatie, het is dus vooral een kwestie van controleren en eventueel
            aanvullen waar nodig. Op het moment dat het verslag compleet is klikt u
            op </span><span>Bericht</span><span> </span><span>opslaan</span><span>. Wanneer u dit hebt gedaan klikt u
            links in uw scherm op </span><span>Afronden.<br>
            <br>
            </span><span>Vervolgens wordt er een scherm getoond waar u de controle
            kan afhandelen. Dit betekent dat de controle definitief wordt gemaakt.</span>
        </li>
    </ul>
</li>
<li>
    <a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>eConsult / Videoconsulten</b></a>
    <ul>
        <li>De eConsult module is nog niet beschikbaar in de huidige versie van Remote Care. Dit zal in de toekomst worden toegevoegd.</li>
    </ul>
</li>
<li>
    <a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>Feedback</b></a>
    <ul>
        <li>
                    <span>Via de knop feedback in het menu kunt u terugkoppeling geven over
                    het gebruik van Remote Care. U kunt uw feedback invullen in het
                    tekstveld en vervolgens de feedback versturen door op de knop versturen
                    te klikken.<br>
                    <br>
                    Uw feedback wordt verstuurd naar de ontwikkelaars van Remote Care, deze
                    zal worden meegenomen in de volgende versies.</span>
        </li>
    </ul>
</li>

<li>
    <a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>Inloggen</b></a>
    <ul>
        <li><b>Eerste keer uw wachtwoord instellen</b><br>
                    <span>Op het moment dat uw patientgegevens zijn geregistreerd in Remote Care krijgt
                    u een e-mail met daarin het verzoek om een wachtwoord in te stellen
                    voor Remote Care. <br>
                    <br>
                    Dit bericht bevat een hyperlink via welke u
                    op de pagina van Remote Care terechtkomt waar u een wachtwoord in kunt
                    stellen. De procedure is als volgt:</span>
            <ol start="1">
                <li><span>U opent de hyperlink uit de e-mail.</span></li>
                <li><span>U voert uw e-mail adres en geboortedatum in
                    Remote Care in.</span></li>
                <li><span>U ontvangt een SMS bericht met een code op
                    het bij Remote Care bekende telefoonnummer.</span></li>
                <li><span>U voert de code in het tekstveld </span></li>
            </ol>
        </li>
        <li><b>Inlogprocedure</b><br>
            <span></span>
            <ol>
                <li><span>Inloggen met e-mail adres en
                        wachtwoord<br>
                        </span><span>De
                        eerste stap bij het inloggen bij Remote Care betreft het aanmelden met
                        behulp van uw e-mail adres en wachtwoord. U vult uw e-mail adres en
                        wachtwoord in de daarvoor bestemde tekstvelden en druk vervolgens op de
                        Enter toets of op de knop</span><span> SMS code</span><span>.<br>
                        <br>
                        Indien
                        u de gegevens correct heeft ingevuld, dan verstuurt het systeem een SMS
                        code naar het door u opgegeven mobiele nummer. U wordt doorgestuurd
                        naar het volgende scherm.</span></li>
                <li><span>SMS Code<br>
                        </span><span>Vul de ontvangen sms code in het daarvoor bestemde
                        tekstveld in, en druk vervolgend op </span><span>Login. <br>
                        <br>
                        </span><span>Indien u de correcte code hebt ingevoerd, dan wordt u
                        doorgestuurd naar het hoofscherm van de applicatie.</span></li>
                <li><span>Wachtwoord vergeten<br>
                        </span><span>In
                        het geval u uw wachtwoord bent vergeten, dan kunt u via de applicatie
                        een nieuw wachtwoord aanvragen. U doet dit op de volgende manier:<br>
                        <br>
                        1. Op de login pagina van Remote Care drukt u op </span><span>Wachtwoord vergeten? <br>
                        <br>
                        </span><span>2. U vult uw e-mail adres in. Er wordt een link naar
                        uw e-mail adres verstuurd om uw wachtwoord te wijzigen. Open deze link.<br>
                        <br>
                        3.
                        Er opent zich een nieuw scherm van Remote Care. Vul nu uw e-mail adres
                        en uw geboortedatum in. Als u deze correct invoert, dan verstuurt het
                        systeem een SMS bericht naar het bij Remote Care bekende telefoonnummer.<br>
                        <br>
                        4. Vul deze code in, en vervolgens twee maal het door u gewenste
                        wachtwoord</span></li>
            </ol>
        </li>
    </ul>
</li>
<li>
    <a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>Mijn gegevens</b></a>
    <ul>
        <li>
                        <span>Het
                        blok met uw naam rechtsonder in uw beginscherm geeft een selectie van
                        uw gegevens weer. Door op dit blok te klikken kunt u een aantal van uw
                        gegevens wijzigen. Dit wordt in het onderstaande stuk toegelicht. </span>
            <ol>
                <li><span><b>Account</b><br>
                        </span><span>Via
                        deze pagina kunt u de volgende gegevens wijzigen: mobiel
                        telefoonnummer, e-mail adres en wachtwoord. Het wijzigen van de
                        gegevens gaat als volgt:</span></li>
            </ol>
            <ol>
                <br><li><span>Klik op </span><span>Wijzig </span><span>rechtsboven
                        in uw scherm.</span></li>
                <li><span>Verander de gegevens die u wilt veranderen.
                        Let op! U dient zowel uw telefoonnummer en uw e-mail adres twee maal in
                        te vullen. </span></li>
                <li><span>Indien u ook uw wachtwoord wenst te
                        veranderen selecteert u</span><span> Ja</span></li>
                <li><span>Voer indien gewenst twee maal uw nieuwe
                        wachtwoord in.</span></li>
                <li><span>Druk op </span><span>Sla op </span><span>om
                        op te slaan of op </span><span>Annuleren</span><span> om
                        te annuleren</span><span>.</span></li>
            </ol>
            <ol>
                <br><li><span><b>Notificatie instellingen</b><br>
                        </span><span>Via deze pagina kunt u de 1asd instellingen van Remote
                        Care wijzigen. Het wijzigen van deze instellingen gaat als volgt:</span></li>
            </ol>
            <ol>
                <br><li><span>Klik op </span><span>Wijzig </span><span>rechtsboven
                        in uw scherm.</span></li>
                <li><span>Verander de gegevens die u wilt veranderen. </span></li>
                <li><span>Druk op </span><span>Sla op </span><span>om
                        op te slaan of op </span><span>Annuleren</span><span> om
                        te annuleren</span><span></span></li>
            </ol>
        </li>
    </ul>
</li>
<li>
    <a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>Uitloggen</b></a>
    <ul>
        <li>
                        <span>Als
                        u klaar bent met het gebruik van Remote Care is het voor de veiligheid
                        van uw eigen gegevens belangrijk dat u uitlogt. Op deze manier kan er
                        niemand anders die gebruik maakt van dezelfde computer of tablet toegan
                        krijgen tot uw gegevens. <br>
                        <br>
                        U logt uit door rechtsboven in uw
                        scherm op uitloggen te klikken. Indien u niet zelf uitlogt dan zal u
                        automatisch worden uitgelogd na 20 minuten inactiviteit.</span>
        </li>
    </ul>
</li>
<li>
    <a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>Patienten</b></a>
    <ul>
        <li><b>Patient zoeken</b><br>
            <span>U kunt zoeken door te klikken op het blok </span><span>Patient
            Zoeken </span><span>in
            de rechterkant van uw scherm. U krijgt vervolgens een scherm te zien
            waarmee u de gewenste patiënt op kunt zoeken. Voer de gegevens van de
            patient in en klik op </span><span>Zoek Patient</span><span>.
            De patienten die overeen komen met in ingevoerde gegevens worden onder
            in uw scherm getoond.</span>
        </li>
        <li><b>Patient toevoegen</b><br>
            <span>U kunt een patient toevoegen door te klikken op het blok </span><span>Patient Toevoegen </span><span>in de rechterkant van uw
            scherm. <br>
            <br>
            U
            krijgt vervolgens een scherm te zien waar u alle gegevens van de
            patient in kunt voeren. Alle gegevens welke zijn gemarkeerd met een *,
            zijn verplichte gegevens. Vul alle gegevens in en klik vervolgens op </span><span>Sla op</span><span>. <br>
            Indien u een fout heeft gemaakt tijdens het invullen, verschijnt de
            volgende tekst: </span><span>Corrigeer de fout
            hieronder alstublieft. </span><span>De fouten worden aangegeven bij
            het betreffende veld. Corrigeer deze fout en druk nogmaals op </span>
            <span>Sla op.</span>
        </li>
        <li><b>Patient wijzigen</b><br>
            <span>U kunt een patient wijzigen door te klikken op het blok </span><span>Patient Wijzigen </span><span>in de rechterkant van uw
            scherm. <br>
            U
            krijgt vervolgens een scherm te zien waarmee u de gewenste patiënt op
            kunt zoeken. Voer de gegevens van de patient in en klik op </span><span>Zoek Patient</span><span>.
            De patienten die overeen komen met in ingevoerde gegevens worden onder
            in uw scherm getoond. Klik op het oogje naast de gewenste patient.<br>
            <br>
            U
            krijgt vervolgens een scherm te zien waar de gegevens van de
            betreffende patient worden getoond. Klik rechtsboven in uw scherm op </span><span>Wijzig</span><span>. Vervolgens past u de gegevens naar
            wens aan en klikt op </span><span>Sla op. </span>
        </li>
        <li><b>Patient verwijderen</b><br>
            <span>U kunt een patient wijzigen door te klikken op het blok </span><span>Patient Verwijderen </span><span>in de rechterkant van uw
            scherm. <br>
            </span><span><br>
            </span><span>U
            krijgt vervolgens een scherm te zien waarmee u de gewenste patiënt op
            kunt zoeken. Voer de gegevens van de patient in en klik op </span><span>Zoek Patient</span><span>.
            De patienten die overeen komen met in ingevoerde gegevens worden onder
            in uw scherm getoond. Klik op het kruisje naast de gewenste patient.<br>
            <br>
            </span><span>U krijgt vervolgens een nieuw scherm te zien waar u kunt
            kiezen tussen </span><span>Verwijder patient </span><span>en
            </span><span>Annuleren. </span><span>Indien u zeker weer
            dat u de patient wilt verwijderen dan klikt u op </span><span>Verwijder patient.</span>
        </li>
    </ul>
</li>
<li>
    <a class='openclose' href='#' onclick='Helplist.openclose(this);'><b>Zoeken</b></a>
    <ul>
        <li>
            <span>Via de zoekfunctie kunt u zoeken naar patienten. U kunt zoeken
            door uw zoekopdracht in te voeren in het zoekveld rechtsboven. <br>
            <br>
            U kunt daarnaast zoeken door te klikken op het blok </span><span>Patient Zoeken </span><span>in de rechterkant van uw
            scherm. </span><span>U
            krijgt vervolgens een scherm te zien waarmee u de gewenste patiënt op
            kunt zoeken. Voer de gegevens van de patient in en klik op </span><span>Zoek Patient</span><span>. De patienten die overeen komen
            met in ingevoerde gegevens worden onder in uw scherm getoond.</span>
        </li>
    </ul>
</li>
</ul>
</div>
